.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconButton {
  font-family: Lucida Sans Unicode;
  font-size: x-large;
  font-weight: bolder;
  cursor: pointer;
  margin: 10px;
  color: black;
  text-decoration: none;
  user-select: none;
}

.iconButton:hover {
  color: blue;
}

.factHeading {
  margin: 10px;
}

.factContainer {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .factContainer {
    flex-direction: column;
    text-align: center;
  }
}